{% extends 'base.html' %}

{% block content %}
{% load crm_tags %}

<h1>
    {{ employee.user.username }}
</h1>

{% if employee.profile_image %}

    <img
        src="{{ employee.profile_image.url }}"
        width="150"
    >

{% endif %}

<p>
    Company:
    {{ employee.company.name }}
</p>

<p>
    Designation:
    {{ employee.designation }}
</p>

<p>
    Phone:
    {{ employee.phone }}
</p>

<p>
    Email:
    {{ employee.user.email }}
</p>

<p>
    Role:
    {{ employee.get_role_display }}
</p>

{% if employee.reporting_manager %}

<p>
    Reporting Manager:
    {{ employee.reporting_manager.user.username }}
</p>

{% endif %}

{% if employee.role == 'manager' %}

    <h4>Representatives</h4>

    <ul>

        {% for rep in employee.representatives.all %}

            <li>
                <a href="{% url 'employee_detail' rep.id %}">
                    {{ rep.user.username }}
                </a>
            </li>

        {% empty %}

            <li>
                No representatives assigned.
            </li>

        {% endfor %}

    </ul>

{% endif %}

{% if request.user|has_group:'Admin' %}

<a
    href="{% url 'update_employee' employee.id %}"
    class="btn btn-warning"
>
    Edit Employee
</a>

<a
    href="{% url 'delete_employee' employee.id %}"
    class="btn btn-danger"
>
    Delete Employee
</a>

{% endif %}

{% endblock %}