{% extends 'base.html' %}

{% block content %}

{% load crm_tags %}

<h1>Employees</h1>

{% if request.user|is_admin %}
<a
    href="{% url 'create_employee' %}"
    class="btn btn-primary mb-3"
>
    Create Employee
</a>
{% endif %}

<form method="GET">

    <input
        type="text"
        name="search"
        value="{{ search }}"
        placeholder="Search employee"
    >

    <button
        type="submit"
        class="btn btn-primary"
    >
        Search
    </button>

</form>

<br>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Reporting Manager</th>
            <th>Company</th>
            <th>Designation</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>

        {% for employee in page_obj %}

            <tr>

                <td><a
                        href="{% url 'employee_detail' employee.id %}"
                    >
                        {{ employee.user.username }}
                    </a></td>

                <td>{{ employee.get_role_display }}</td>

                <td>
                    {% if employee.reporting_manager %}
                        {{ employee.reporting_manager.user.username }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>{{ employee.company.name }}</td>

                <td>{{ employee.designation }}</td>

                <td>{{ employee.phone }}</td>
                

            </tr>

        {% empty %}

            <tr>
                <td colspan="6">
                    No Employees Found
                </td>
            </tr>

        {% endfor %}

    </tbody>

</table>

<nav>

    {% if page_obj.has_previous %}

        <a href="?page=1">
            First
        </a>

        <a href="?page={{ page_obj.previous_page_number }}">
            Previous
        </a>

    {% endif %}

    <span>

        Page {{ page_obj.number }}

        of

        {{ page_obj.paginator.num_pages }}

    </span>

    {% if page_obj.has_next %}

        <a href="?page={{ page_obj.next_page_number }}">
            Next
        </a>

        <a href="?page={{ page_obj.paginator.num_pages }}">
            Last
        </a>

    {% endif %}

</nav>

{% endblock %}