{% extends 'base.html' %}
{% load crm_tags %}

{% block content %}

<h1>Tasks</h1>

    {% if not request.user|is_representative %}

    <a
        href="{% url 'create_task' %}"
        class="btn btn-primary mb-3"
    >
        Create Task
    </a>

    {% endif %}


<form method="GET">

    <input
        type="text"
        name="search"
        value="{{ search|default_if_none:'' }}"
        placeholder="Search Task"
    >

    <select name="status">

        <option value="">
            All Statuses
        </option>

        <option value="pending">
            Pending
        </option>

        <option value="in_progress">
            In Progress
        </option>

        <option value="completed">
            Completed
        </option>

    </select>

    <select name="priority">

        <option value="">
            All Priorities
        </option>

        <option value="low">
            Low
        </option>

        <option value="medium">
            Medium
        </option>

        <option value="high">
            High
        </option>

    </select>

    <button
        type="submit"
        class="btn btn-primary"
    >
        Filter
    </button>

</form>

<br>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>Title</th>
            <th>Company</th>
            {% if not request.user|is_representative %}
                <th>Employee</th>
            {% endif %}
            <th>Status</th>
            <th>Priority</th>
            <th>Deadline</th>

        </tr>

    </thead>

    <tbody>

        {% for task in tasks %}

            <tr>

                <td>

                    <a
                        href="{% url 'task_detail' task.id %}"
                    >
                        {{ task.title }}
                    </a>

                </td>

                <td>
                    {{ task.company.name }}
                </td>

                {% if not request.user|is_representative %}
                    <td>
                        {{ task.employee.user.username }}
                    </td>
                {% endif %}

                <td>
                    {{ task.get_status_display }}
                </td>

                <td>
                    {{ task.get_priority_display }}
                </td>

                <td>
                    {{ task.deadline|date:"d M Y h:i A" }}
                </td>

            </tr>

        {% empty %}

            <tr>

                <td colspan="5">

                    No Tasks Found

                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}