{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    {{ heading }}
</h1>

<style>
    .django-ckeditor-widget{
        display:block !important;
    }
</style>
<div class="card shadow-sm">

    <div class="card-body">

        <form
            method="POST"
            enctype="multipart/form-data"
        >

            {% csrf_token %}

            {% for field in form %}

            <div class="mb-3">

                <label>

                    {{ field.label }}

                    {% if field.field.required %}

                        <span class="text-danger">*</span>

                    {% endif %}

                </label>

                {{ field }}

                {% if field.errors %}

                    <div class="text-danger">

                        {{ field.errors }}

                    </div>

                {% endif %}

            </div>

            {% endfor %}

            <button
                type="submit"
                class="btn btn-primary"
            >
                Save Task
            </button>

        </form>
    </div>
</div>
{{form.media}}

{% endblock %}